<div id="songs">
  <% @songs.each do |song| %>
    <div class="card" style="width: 18rem; margin-bottom: 10px;">
      <div class="card-body">
        <%= link_to song.songName, song_path(song.songID), class: "btn btn-primary" %>

      </div>
    </div>
  <% end %>
</div>

